@media (max-width: 426px) {
  .wrapper {
  height: 91vh;
  border-color: black;
  border-style: solid;
  border-width: 20px;
  background-image: url("../../assets/stars.gif");
  background-repeat: repeat;
  }
}

@media (min-width: 426px) and (max-width:765px) {
  .wrapper {
    height: 92vh;
    border-color: black;
    border-style: solid;
    border-width: 20px;
    background-image: url("../../assets/stars.gif");
    background-repeat: repeat;
    }
}

@media (min-width: 767px) {
  .wrapper {
  height: 92vh;
  border-color: black;
  border-style: solid;
  border-width: 10px;
  background-image: url("../../assets/stars.gif");
  background-repeat: repeat;
  }
}


@media (max-width: 426px) and (max-width:766) {
  .wrapper {
  height: 100vh;
  border-color: rgb(8, 247, 68);
  border-style: solid;
  border-width: 20px;
  background-image: url("../../assets/stars.gif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  }
}


@media (min-width: 768px) and (max-width:1023px) {
  .hud-border {
      border-style: solid;
      border-width: 50px 150px ;
      -moz-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      -webkit-border-image: url("../../assets/f22hud-blue.png") 100 50 100 600 stretch stretch;
      -o-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      height: 100%  
    }
}

@media (min-width: 1024px) and (max-width:1439px) {
  .hud-border {
      border-style: solid;
      border-width: 50px 250px 100px;
      -moz-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      -webkit-border-image: url("../../assets/f22hud-blue.png") 100 50 100 600 stretch stretch;
      -o-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      height: 100%  
    }
}

@media (min-width: 1440px) {
  .hud-border {
      border-style: solid;
      border-width: 50px 400px;
      -moz-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      -webkit-border-image: url("../../assets/f22hud-blue.png") 100 50 100 600 stretch stretch;
      -o-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      height: 100%  
    }
}

@media (min-width: 1441px) {
  .hud-border {
      border-style: solid;
      border-width: 100px 400px 100px;
      -moz-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      -webkit-border-image: url("../../assets/f22hud-blue.png") 100 50 100 600 stretch stretch;
      -o-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      height: 100%
    }
}


/* @keyframes travelerSky {
  0% {
    @include transform(scale(1.5) rotate(0deg));
  }
  50% {
    @include transform(scale(2) rotate(-360deg));
  }
  100% {
    @include transform(scale(1.5) rotate(0deg));
  }
}

.traveler-sky{
  animation: travelerSky $sky_rotation_speed infinite;
  animation-timing-function: linear;
} */



