
/* iPhone 5 not supported */

/* iPhone 6/7/8 (Plus) LANDSCAPE MODE */
@media (orientation:landscape)
and (min-device-width: 666px) 
and (max-device-width: 736px)
 {
  body {
    height: auto;
  }
  .wrapper {
    height: 100vh;
    background-image: url("../../assets/stars.gif");
    background-repeat: repeat;
    }

  .welcome-container {
    height:75vh!important;
    width:30vw;
    border-style: solid;
    border-width: 35px 75px!important;
    -moz-border-image: url("../../assets/Lore.png") 100  100  stretch stretch;
    -webkit-border-image: url("../../assets/Lore.png") 100  100  stretch stretch;
    -o-border-image: url("../../assets/Lore.png") 100  100  stretch stretch;
    border-image: url("../../assets/Lore.png") 100  100  stretch stretch;
    padding: 0px!important;
    margin-top: 50px;
    
  }

  .welcome-content {
    background-color: #16080C;
    color: whitesmoke;
    height:auto;
    } 

  .custom-btn {
    background-color:transparent!important;
    border: none;
    outline:none!important;
    background-image: none!important;
    width: 100%!important;
    height: 13vh!important;
    background-repeat: no-repeat; 
 
  } 

  .homepage-btns {
    margin: 0px!important;
    height: 100vh;
    font-family: 'perfect_dark_brkregular';
    font-size: 25px;
    color: #74797c;
    text-shadow: 2px 2px 1px #174116ce, 0 0 10px rgba(224, 37, 37, 0.8), 0 0 5px darkblue;
  }
  
}


/* iPhone 6/7/8 (Plus) PORTRAIT MODE*/
@media (min-width: 426px) {
  .wrapper {
  height: 100vh;
  border-color: black;
  border-style: solid;
  border-width: 20px;
  background-image: url("../../assets/stars.gif");
  background-repeat: repeat;
  }

  .welcome-container {
    margin-top: 150px;
    height: 50vh!important;
  }

  .homepage-btns {
    margin: 0px!important;
  }
}

/* iPhone X PORTRAIT MODE NOT SUPPORTED*/

/* @media (min-width: 426px) and (max-width:766) {
  .wrapper {
  height: 100vh;
  border-style: solid;
  border-width: 20px;
  background-image: url("../../assets/stars.gif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  }
}

@media (min-width: 767px) {
  .wrapper {
    height: 100vh;
    border-color: black;
    border-style: solid;
    border-width: 10px;
    background-image: url("../../assets/stars.gif");
    background-repeat: repeat;
    display: block!important;
    cursor:default; 
  }

  .wrapper:hover {
    height: 100vh;
    border-color: black;
    border-style: solid;
    border-width: 10px;
    background-image: url("../../assets/stars.gif");
    background-repeat: repeat;
    visibility:visible;
    }
 
} */

/* Tablet Mode */
@media (min-width: 768px) and (max-width:1023px) {
  .hud-border {
      border-style: solid;
      border-width: 100px 75px 50px;
      -moz-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      -webkit-border-image: url("../../assets/f22hud-blue.png") 100 50 100 600 stretch stretch;
      -o-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      height: 100%  
    }

  .welcome-container {
    height: 48vh!important;
    border-width: 35px 20px 35px 20px!important;
    margin-top: 0px!important;
  }

  .homepage-btns {
    margin: 0px!important;
    padding-top: 1px;
    padding-left: 2px;
    padding-bottom: 15px;
    font-size: small;
    font-weight: bold;
  }

  .custom-btn {
    width: 100%!important;
    background-size: contain!important;
  }
   
}

/* Laptop Screen */

@media (min-width: 1024px) and (max-width:1439px) {
  .hud-border {
      border-style: solid;
      border-width: 75px 200px 50px;
      -moz-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      -webkit-border-image: url("../../assets/f22hud-blue.png") 100 50 100 600 stretch stretch;
      -o-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      height: 100%  
    }

    .welcome-container {
      height: 48vh!important;
      border-width: 35px 25px 35px 25px!important;
      margin-top: 0px!important;
    }
  
    .homepage-btns {
      margin: 0px!important;
      padding-top: 10px;
      padding-left: 2px;
    }
}

@media (min-width: 1440px) {
  .hud-border {
      border-style: solid;
      border-width: 50px 400px;
      -moz-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      -webkit-border-image: url("../../assets/f22hud-blue.png") 100 50 100 600 stretch stretch;
      -o-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      height: 100%  
    }

    .welcome-container {
      height: 48vh!important;
      border-width: 35px 25px 35px 25px!important;
      margin-top: 0px!important;
    }
  
    .homepage-btns {
      margin: 0px!important;
      padding-top: 10px;
      padding-left: 2px;
    }
}

/* Larger Laptop Screen */

@media (min-width: 1680px) {
  .hud-border {
      border-style: solid;
      border-width: 50px 400px;
      -moz-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      -webkit-border-image: url("../../assets/f22hud-blue.png") 100 50 100 600 stretch stretch;
      -o-border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      border-image: url("../../assets/f22hud-blue.png") 100 600 50 600 stretch stretch;
      height: 100%  
    }

    .welcome-container {
      height: 48vh!important;
    }
  
    .homepage-btns {
      margin: 0px!important;
      padding-top: 20px;
      padding-left: 2px;    }

    .custom-btn {
      width: 75%!important;
      height: 9vh!important;
      margin-bottom: 10px!important;
      margin-left: 55px!important;
    }
}


