/* @media (max-width: 8px) and (max-height: 400px) (orientation: landscape) {
    .wrapper {
        height: 100vh;
        border-color: black;
        border-style: solid;
        border-width: 20px;
        background-image: url("../../assets/stars.gif");
        background-repeat: repeat;
        }
} */