@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

@font-face{
    font-family: 'perfect_dark_brkregular';
    src: url('../styles/webfontkit/pdark-webfont.woff2') format('woff2'),
         url('../styles/webfontkit/pdark-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#customFont {
    font-family: 'perfect_dark_brkregular';
    font-size: 30px;
    color: #8E979C;
    text-shadow: 2px 2px #262f31;
}

#logInPosition {
    position: relative;
    top: 25%;
}

#routeButtons {
    position: absolute;
    top: 200%;
}

.customDivOne {
    border-color: black;
    border-style: solid;
    border-width: 5px;
    background-color: #540001ef;
    border-radius: 5px;
    padding: 10px;

}

.customDivTwo {
    background-color: #a60000e0;
    border-radius: 2px;
    padding: 10px;

}

label {
    color: whitesmoke;
}

h1 {
color: whitesmoke;
font-family: 'Coda', cursive;
}

.button{
    border-color: #384042;
    border-radius: 7px;
    border-style: solid;
    border-width: 3px;
    background-color: #53BDE3;
    font-weight: bold;
    font-family: 'Coda', cursive;
}

.button-lg {
    margin: 5px;
    padding: 5px;
}

#codaFont {
    font-family: 'Coda', cursive;
    color: black;
    font-size: 12px;
    font-weight: bold;
}