@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

/* @media (min-width: 768px) {
    .custom-border-lg {
        border-style: solid;
        border-width: 100px 175px 75px 175px;
        -moz-border-image: url("../assets/ftwentytwohud.png") 300 725 263 725 stretch stretch;
        -webkit-border-image: url("../assets/f22hud-blue.png") 300 725 263 725 stretch stretch;
        -o-border-image: url("../assets/f22hud-blue.png") 300 725 263 725 stretch stretch;
        border-image: url("../assets/f22hud-blue.png") 300 725 263 725 stretch stretch;
        }
} */

/* @media (min-width: 768px) {
    .custom-border-lg {
    border-style: solid;
    border-width: 50px 200px 100px 200px;
    -moz-border-image: url("../assets/f22hud-blue.png") 150 650 125 650 stretch stretch;
    -webkit-border-image: url("../assets/f22hud-blue.png") 125 650 125 650 stretch stretch;
    -o-border-image: url("../assets/f22hud-blue.png") 125 650 125 650 stretch stretch;
    border-image: url("../assets/f22hud-blue.png") 125 650 125 650 stretch stretch;
    }
  } */

  /* @media (min-width: 1024px) {
    .custom-border-lg {
        border-style: solid;
        border-width: 50px 200px 50px 200px;
        -moz-border-image: url("../assets/f22hud-blue.png") 225 600 150 600 stretch stretch;
        -webkit-border-image: url("../assets/f22hud-blue.png") 225 600 150 600 stretch stretch;
        -o-border-image: url("../assets/f22hud-blue.png") 225 600 150 600 stretch stretch;
        border-image: url("../assets/f22hud-blue.png") 225 600 150 600 stretch stretch;
        }
  } */

  .test {
      position: relative;
      margin: 10px;
  }

#logInPosition {
    position: relative;
    top: 25%;
}

#routeButtons {
    position: absolute;
    top: 200%;
}

.customDivOne {
    border-color: black;
    border-style: solid;
    border-width: 5px;
    background-color: #540001ef;
    border-radius: 5px;
    padding: 10px;

}

.customDivTwo {
    background-color: #a60000e0;
    border-radius: 2px;
    padding: 10px;

}

label {
    color: whitesmoke;
}

h1 {
color: whitesmoke;
font-family: 'Coda', cursive;
}

.button{
    border-color: #384042;
    border-radius: 7px;
    border-style: solid;
    border-width: 3px;
    background-color: #53BDE3;
    font-weight: bold;
    font-family: 'Coda', cursive;
}

.button-lg {
    margin: 5px;
    padding: 5px;
}

#codaFont {
    font-family: 'Coda', cursive;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

#customFont {
    font-family: 'perfect_dark_brkregular';
    font-size: 30px;
    color: #8E979C;
    text-shadow: 2px 2px #262f31;
}