footer {
    position: absolute;
    bottom: 0;
    /* left: 0; */
    right:0;
    width: 100%;
    height: 3rem;
    border-color: greenyellow;
    border-width: 1px;
    border-style: solid;
}

.border-temp1 {
    border-color: rgb(38, 0, 255);
    border-width: 1px;
    border-style: solid;
    background-color: grey;
    height:90vh;
    padding:0px;
}

.border-temp2 {
    border-color: rgb(0, 196, 0);
    border-width: 1px;
    border-style: solid;
    background-color: rgb(131, 2, 2);
    height:90vh;
    padding:0px;
}

.creep-example {
    background-image: url("../../assets/Tower_Base.png");
}

.customDivOne {
    border-color: black;
    border-style: solid;
    border-width: 5px;
    background-color: #540001ef;
    border-radius: 5px;
    padding: 10px;

}

.customDivTwo {
    background-color: #a60000e0;
    border-radius: 2px;
    padding: 10px;

}

.redscreen {
    border-style: solid;
    border-width: 30px 50px 50px;
    -moz-border-image: url("../../assets/redscreen4.png") 46 30 61 27 stretch stretch;
    -webkit-border-image: url("../../assets/redscreen4.png") 46 30 61 27 stretch stretch;
    -o-border-image: url("../../assets/redscreen4.png") 46 30 61 27 stretch stretch;
    border-image: url("../../assets/redscreen4.png") 46 30 61 27 stretch stretch;
    }

.test-gameDiv {
    border-color: white;
    border-width: 5px;
    border-style: solid;
    color: white;
    font-weight: bold;
    padding: 0px!important;
}

img {
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

