


.redscreen {
    border-style: solid;
    border-width: 30px 50px 50px;
    -moz-border-image: url("../../assets/redscreen4.png") 46 30 61 27 stretch stretch;
    -webkit-border-image: url("../../assets/redscreen4.png") 46 30 61 27 stretch stretch;
    -o-border-image: url("../../assets/redscreen4.png") 46 30 61 27 stretch stretch;
    border-image: url("../../assets/redscreen4.png") 46 30 61 27 stretch stretch;
    }

.test-gameDiv {
    background-color: rgba(0, 36, 136, 0.285);
    font-weight: bold;
    padding: 0px!important;
    mix-blend-mode: difference;
    background-image: url('../../assets/glow.png');
    background-repeat: repeat;
    background-position: center top;
}

.glow {
    animation: intermittente 0.01s infinite alternate;
    box-shadow:  0px 0px 35px rgba(204, 0, 0, 0.3), 
      0 0 11px rgba(204, 0, 0, 0.3), 
      0 0 2px rgba(255, 0, 0, 0.3), 
      0 0 1px rgba(204, 0, 0, 0.3), 
      0 0px 17px rgba(204, 0, 0, 0.3), 
      inset 0px 0 17px rgba(204, 0, 0, 0.3), 
      inset 0px 0 30px rgba(204, 0, 0, 0.3);
}

  

img {
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

